<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Software license expires 20260330 -->
    <add key = "LicenseCode" value = "HA4KDR4daGxqaWlq" />

    <!-- Yes/No -->
    <add key="freezeScreen" value="Yes" />
    <add key="sendEmails" value="Yes" />
    <add key="sendSMS" value="Yes" />

    <!-- Trigger settings -->
    <add key="timeInterval" value="600" />
    <add key="ProjectTitle" value="St Georges Bridge" />


    <!-- Folders -->
    <add key="SystemLogsFolder" value="C:\__SystemLogs\" />
    <add key="SystemAlarmFolder" value="C:\__SystemAlarms\" />


    <!-- SMS settings -->
    <add key="RecipientPhone1" value="+4917672997904" />
    <!-- JAGDE -->
    <add key="Phone2" value="+447729481504" />
    <!-- JAGUK -->

    <!-- Email settings GNA-->
    <add key="EmailFrom" value="gnasoftwareteam@gmail.com" />
    <add key="EmailLogin" value="gnasoftwareteam@gmail.com" />
    <add key="EmailPassword" value="dxdganvkkxjsqsde" />
    <add key="EmailRecipients" value="gnajag2025@gmail.com" />

  </appSettings>

</configuration>